@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    background-color: rgb(236, 236, 239);
}

.post {
    background-color: rgb(52, 52, 52);
    width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    padding-left: 50px;
    position: relative;
}

.info {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}

.info>p {
    padding-right: 10px;
}

.name {
    color: white;
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
}

.username {
    color: rgb(209, 209, 209);
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.email {
    color: rgb(174, 174, 174);
    font-family: Lato;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
}

.delete-btn {
    position: absolute;
    right: 20px;
    padding-left: 6px;
    padding-right: 6px;
    border: none;
    border-radius: 11px;
    color: #bcbcbc;
    background-color: black;
}

.title {
    color: rgb(209, 209, 209);
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
}

.text {
    color: white;
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
}